* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: #2D2D2D;
  line-height: 1.6;
}


header {
  display: flex;
  justify-content: flex-end;
  padding: 3vh 10%;
  background-color: #2D2D2D;
}

nav {
  display: flex;
  justify-content: center;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 15px;
  font-weight: bold;
  z-index: 10;
}

.next {
  text-decoration: none;
  background-color: white;
  color: #2D2D2D;
  padding: 10px 15px;
  text-align: center;
  border-radius: 8px;
  width: 250px;
  z-index: 100;
}

.next:hover {
  background-color: #2D2D2D;
  color: #ff4500;
  border: #ff4500 solid 1px;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
  padding: 5%;
  background-color: #2D2D2D;
  height: 92vh;
  z-index: -10;
}

.jobdesc {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.hero p {
  font-weight: 100;
}

.Animation {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
}

.heroContent {
  max-width: 50%;
}

.hero-text {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-text h1 {
  font-size: 4rem;
  color: #ff4500;
  line-height: 110%;
  max-width: 100%;
  z-index: 10;
}

.hero-text h2 {
  color: white;
  font-size: 3rem;
  margin-top: 0px;
  line-height: 110%;
  z-index: 10;
}

.hero-text h3 {
  font-size: 2rem;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.492);
  line-height: 110%;
  font-weight: 300;
  z-index: 10;
}

.hero-text h4 {
  font-size: 1.5rem;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.14);
  line-height: 110%;
  font-weight: 200;
  z-index: 10;
}

.hero-text p {
  margin: 20px 0;
  font-size: 1.1rem;
  color: #cccccc;
  z-index: 10;
}

.hero-image img {
  position: relative;
  width: 70vh;
  z-index: 0;
}

.section {
  padding: 2% 10% 5% 10%;
}

.section h2 {
  margin-bottom: 30px;
}

.projects {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

.project-card {
  text-decoration: none;
  color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 0px;
  gap: 20px;
  border-color: #2D2D2D;
  background: rgb(192, 192, 192);
  background: linear-gradient(0deg, rgba(192, 192, 192, 1) 0%, rgba(255, 255, 255, 1) 39%);
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgb(186, 186, 186);
  width: 45%;
}

.topcard {
  padding: 30px;
  gap: 20px;
}

.project-card h3 {
  color: #1c1c1c;
}

.gellule {
  background-color: #3A3A3A;
  color: white;
  width: 120px;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  font-size: small;
  margin-bottom: 15px;
}

.logo {
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 2px 8px rgb(186, 186, 186);
}

.project-card .illustration {
  height: 300px;
}

.project-card:hover .illustration {
  transition: background-color 0.3s ease, transform 0.5s ease-in-out;
}

.project-card:hover {
  background: rgb(138, 138, 138);
  background: linear-gradient(0deg, rgba(138, 138, 138, 1) 0%, rgba(255, 255, 255, 1) 39%);
  transition: background-color 0.3s ease;
}

.listMoreProj {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.addprojectcard {
  display: flex;
  flex-direction: row;
  gap: 50px;
  box-shadow: 0px 2px 8px rgb(186, 186, 186);
  border-radius: 10px;
  justify-content: space-between;
  text-decoration: none;
  color: #1c1c1c;
  min-height: 160px;
}

.cardleft {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hoverblack {
  opacity: 0;
  display: flex;
  visibility: hidden;
  background-color: #2D2D2D;
  border-radius: 0px 10px 10px 0px;
  color: #ffffff;
  width: 200px;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease, visibility 3s ease;
  /* Transition fluide */
}

.addprojectcard:hover .hoverblack {
  visibility: visible;
  opacity: 1;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2D2D2D;
  color: #777;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #2d2d2d;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  width: 45px;
  font-size: 18px;
  cursor: pointer;
  display: none;
  /* Caché par défaut */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#backToTop:hover {
  background-color: #ff4500;
  /* Changement de couleur au survol */
  transform: scale(1.1);
  /* Agrandissement au survol */
}


@media screen and (max-width : 950px) {

  .hero-text h1 {
    font-size: 2.3rem;
  }

  .hero-text h2 {
    font-size: 1.8rem;
  }

  .hero-text h3 {
    font-size: 1.5rem;
  }

  .hero-text h4 {
    font-size: 1.2rem;
  }

  .hero-text p {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .hero-text {
    width: 100%;
  }

  .hero {
    padding: 10% 10%;
  }

  .heroContent {
    max-width: 100%;
  }

  .hero-image img {
    display: none;
  }

  .section {
    padding: 5% 10%;
  }

  .project-card {
    width: 100%;
  }

  .project-card .illustration {
    height: 200px;
  }

  .addprojectcard:hover .hoverblack {
    visibility: hidden;
  }

  .addprojectcard {
    flex-direction: column;
    gap: 0px;
  }

  .cardleft {
    gap: 20px;
  }
}