@import url('amulya.css');
@import url('bespoke-stencil.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: 'Amulya-Regular';
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: #000016;
  line-height: 1.6;
}


header {
  display: flex;
  justify-content: flex-end;
  padding: 3vh 10%;
  background-color: #000016;
}

nav {
  display: flex;
  justify-content: center;
}

header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 15px;
  font-weight: bold;
  z-index: 10;
}

.next {
  text-decoration: none;
  background-color: white;
  color: #000016;
  padding: 10px 25px;
  text-align: center;
  border-radius: 8px;
  width: fit-content;
  z-index: 100;
}

.next:hover {
  background-color: #000016;
  color: white;
  border: white solid 1px;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
  padding: 5% 10%;
  background-color: #000016;
  height: 92vh;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.jobdesc {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}

.hero p {
  font-weight: 100;
}

.Animation {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
}

.heroContent {
  max-width: 50%;
}

.hero-text {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-text h1 {
  font-size: 6rem;
  color: #ff4500;
  line-height: 110%;
  max-width: 100%;
  z-index: 10;
  font-family: 'BespokeStencil-Medium';
}

.hero-text h2 {
  color: white;
  font-size: 3rem;
  margin-top: 0px;
  line-height: 110%;
  z-index: 10;
}

.hero-text h3 {
  font-size: 2rem;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.492);
  line-height: 110%;
  font-weight: 300;
  z-index: 10;
}

.hero-text h4 {
  font-size: 1.5rem;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.14);
  line-height: 110%;
  font-weight: 200;
  z-index: 10;
}

.hero-text p {
  margin: 20px 0;
  font-size: 1.1rem;
  color: #cccccc;
  z-index: 10;
}

.hero-image {
  position: absolute;
  width: 400px;
  right: 150px;
  bottom: -12px;
  z-index: 0;
}

.section {
  padding: 5%;
}

.projects {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  flex-wrap: wrap;
}

.project-card {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.3s ease;
  overflow: hidden;
  border-radius: 20px;
}

.project-card:hover .backgroundL,
.project-card:focus .backgroundL {
  transform: scale(1.1);
  transition: all .5s;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 40px;
  position: absolute;
  font-family: 'Amulya-Light';
}

.cardText,.cardTextSecondary  h2 {
  font-size: 3rem;
  line-height: 3rem;
}

.cardText h2 {
  font-size: 3rem;
  line-height: 2rem;
}

.cardText,.cardTextSecondary  h3 {
  font-size: 2.5rem;
  font-weight: 50;
  font-family: 'Amulya-light';
}

.cardText h3 {
  font-size: 2.5rem;
  font-weight: 50;
  font-family: 'Amulya-light';
}

#small {
  width: 25%;
  height: 600px;
}

#large {
  width: 70%;
  height: 600px;
}


.backgroundL {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.backgroundS {
  background-color: #000016;
  overflow: hidden;
}

.backgroundS:hover{
  background-color: #000045;
  transition: all .5s;
}


.vignette {
  position: relative;
  height: 400px;
  bottom: -300px;
  right: -100px;
}
.vignettePost {
  position: relative;
  height: 500px;
  bottom: -200px;
  right: -500px;
}

.backgroundS:hover .vignette {
  height: 500px;
  bottom: -200px;
  right: 0px;
  transition: all .5s;
}

.backgroundS:hover .vignettePost {
  height: 400px;
  bottom: -150px;
  right: -500px;
  transition: all .5s;
}

.escrimeimg {
  background-image: url(./image/escrime\ tuile.jpg);
}

.gellule {
  background-color: #ffffff;
  color: rgb(3, 3, 3);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: small;
  margin-bottom: 30px;
  padding: 0px 15px;
  height: 32px;
}

.logo {
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 2px 8px rgb(186, 186, 186);
}


.listMoreProj {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
}

.cardTextSecondary {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: 'Amulya-Light';
}

.addprojectcard {
  display: flex;
  flex-direction: row;
  gap: 50px;
  border-radius: 20px;
  background-color: #000016;
  text-decoration: none;
  color: #ffffff;
  height: fit-content;
  border: 1px solid #e2e2e2;
  width: 100%;
  padding: 40px;
}

.addprojectcard:hover .cardTextSecondary h2{
  letter-spacing: 0.5rem;
  transition: all .5s;
}

.addprojectcard:hover{
  background-color: #000045;
  transition: all .5s;
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #000016;;
  color: #777;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #000016;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  width: 45px;
  font-size: 18px;
  cursor: pointer;
  display: none;
  /* Caché par défaut */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#backToTop:hover {
  background-color: #ff4500;
  /* Changement de couleur au survol */
  transform: scale(1.1);
  /* Agrandissement au survol */
}

.desktopOption {
  display: None;
}

@media screen and (max-width : 950px) {

  .desktopOption {
    display: Block;
  }

  .hero {
    width: 100vw;
    flex-direction: column;
  }

  .hero-text h1 {
    font-size: 5rem;
    width: 100%;
  }

  .hero-text h2 {
    font-size: 2rem;
    width: 100%;
  }

  .hero-text h3 {
    font-size: 1.5rem;
  }

  .hero-text h4 {
    font-size: 1.2rem;
  }

  .hero-text p {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
  }

  .hero-text {
    width: 100%;
  }

  .heroContent {
    max-width: 100%;
  }

  .hero-image {
    display: none;
  }

  .section {
    padding: 5% 10%;
  }

  #small {
    width: 100%;
    height: 500px;
  }
  
  #large {
    width: 100%;
    height: 500px;
  }
  
  .project-card .illustration {
    height: 200px;
  }

  .addprojectcard:hover .hoverblack {
    visibility: hidden;
  }

  .listMoreProj{
    gap: 20px;
  }

  .addprojectcard {
    flex-direction: column;
    gap: 0px;
    padding: 20px;
    height: 205px;
  }

  .cardleft {
    gap: 20px;
  }
  .vignettePost {
    position: relative;
    height: 250px;
    bottom: -300px;
    right: -100px;
  }
  
.backgroundS:hover .vignettePost {
  height: 250px;
    bottom: -300px;
    right: -100px;
}
.cardText h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.cardText h3 {
  font-size: 1.5rem;
  font-weight: 50;
}

.cardTextSecondary h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.cardTextSecondary h3 {
  font-size: 1rem;
  font-weight: 50;
  line-height: 1rem;
}
.ca

.vignette {
  position: relative;
  height: 400px;
  bottom: -200px;
  right: -0px;
}
.cardText {
  padding: 20px;
}
}